numpy
scipy
h5py
pydicom
torch
torchvision
vtk
napari
pyqt5
scikit-image
scikit-learn
matplotlib
pyvista
hydra-core
omegaconf
wandb
tqdm
pillow
opencv-python-headless
pandas
einops
timm
torchmetrics
torchinfo
fire
submitit
accelerate
kornia
fvcore
iopath
sewar
pymatting